{% for server in ntp.server_ips  %}
server {{ server }} iburst
restrict {{ server }} nomodify notrap noquery
{% endfor %}

restrict default kod notrap nomodify nopeer noquery
restrict 127.0.0.1 nomodify
restrict -6 default kod notrap nomodify nopeer noquery
restrict -6 ::1 nomodify
disable monitor
driftfile /var/lib/ntp/ntp.drift
logfile /var/log/ntpd.log
logconfig =syncevents +peerevents +sysevents

