[all]
{% for key, value in inventory_list.iteritems() %}
{{ value }}
{% endfor %}

[hbvm]
{% for key, value in inventory_list.iteritems() %}
{% if key.startswith('hb')  %}
{{ value }} 
{% endif %}
{% endfor %}

[pod]
{{ vmm.pod_name }}

[pod:vars]
ansible_ssh_user={{ vmm.username }}

[all:vars]
ansible_ssh_user={{ linux.username }}
